h2 {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

label {
  font-size: 30px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 30px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.unauthorized {
  background-color: rgba(188, 208, 15, 0.67);
}

.error {
  background-color: rgb(200, 248, 198);
}

form {
  border: 5px solid #92f894;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 4px;
  display: inline-block;
  border: 8px solid rgb(10, 9, 9);
  box-sizing: border-box;
}

button {
  background-color: #dbf9fa;
  color: rgb(47, 59, 58);
  padding: 14px 20px;
  margin: 8px 0;
  border: double;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.6;
}

.cancelbtn {
  width: auto;
  padding: 12px 20px;
  background-color: #f436ee;
}
